@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #333333;
  --primary-sub-text-color: #0029ff;
  --secondary-sub-text-color: #5e5873;
  --tertiary-sub-text-color: #021442;
  --primary-background-color: #0029ff;
  --secondary-background-color: #000000;
  --tertiary-background-color: #f0f0f0;
  --quaternary-background-color: #e9ecef;
  --primary-box-shadow: 0px 0px 8px 0px #00000050;
  --secondary-box-shadow: 0px 0px 12px 0px #00000059;
}

.fa-home,
.fa-binoculars,
.fa-screwdriver-wrench,
.fa-bell {
  background-color: #3683f0;
  color: var(--secondary-text-color);
  padding: 5px;
  border-radius: 50%;
}

.fa-face-meh-blank {
  background-color: var(--secondary-sub-text-color);
  color: var(--secondary-sub-text-color);
  padding: 5px;
  border-radius: 50%;
}

.fa-ellipsis-vertical {
  background-color: var(--tertiary-background-color);
  color: #3683f0;
  padding: 5px;
  border-radius: 50%;
}


body::-webkit-scrollbar {
  display: none;
}

header {
  position: sticky;
  top: 0;
  padding: 16px 0;
  background-color: var(--tertiary-background-color);
  box-shadow: var(--secondary-box-shadow);
}

nav {
  padding: 0 30px;
}
nav div {
  display: flex;
  justify-content: space-between;
  margin: 0 10vw;
}

header nav div ul {
  float: right;
  padding-top: 10px;
}
header nav div ul li {
  display: inline-block;
  padding: 0px 5px;
}

.bell-icon{
    position: relative;
}
.dot{
    position: absolute;
    border: #ff2c55;
    border-radius: 100%;
    background:red;
    height: 4.59px;
    width: 5px;
    left: 14px;
    top: 3.5px
}
.profile-img{
    margin-bottom: -8px;
    width: 25px;
    height: auto; 
    object-fit: contain; 
}

.dropbtn {
  border: none;
}

.dropdown-content {
  display: none;
  position: fixed;
  right: -7vw;
  background-color: var(--secondary-text-color);
  min-width: 160px;
  box-shadow: var(--primary-box-shadow);
}

.dropdown-content a {
  color: #3683f0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--quaternary-background-color);
}

.heading {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.heading h1 {
  margin-left: 12.5vw;
  width: 50vw;
}
.btn-submit {
  margin-right: 12rem;
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
  padding: 0.5rem 1rem;
  border-color: var(--primary-background-color);
  border-radius: 10px;
  font-size: 14px;
  border: none;
}
span {
  color: var(--primary-background-color);
}
.content {
  margin: 0 11vw 5vw 11vw;
  padding: 0 1.5vw;
}
.intro-text {
  margin-top: 24px;
  margin-bottom: 32px;
  padding: 2rem;
  background-color: var(--quaternary-background-color);
  border-radius: 4px;
}

.intro-text p {
  font-size: 14px;
}
.explore-text {
  margin-bottom: 1rem;
}

.Assets-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.asset {
  background-color: white;
  overflow: hidden;
  margin: 16px;
  height: 71vh;
  box-shadow: var(--primary-box-shadow);
  border-radius: 15px;
}

.asset div iframe {
  width: 100%;
  height: 40vh;
  border: none;
}

.asset-title {
  text-align: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding: 15px 0;
}

.asset-description {
  padding: 1.5rem 1rem;
  box-shadow: var(--primary-box-shadow);
}

#a18886 div iframe {
  height: 55vh;
}

.fa-info {
  float: right;
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  padding: 5px 10px;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: -24px;
}

.modified {
  margin: 0;
  display: block;
  border-radius: 0 15px 15px 0;
  width: 50vh;
  height: 80vh;
  position: fixed;
  left: 0;
  top: 13vh;
}

.mod {
  margin-left: 2rem;
  box-shadow: none;
}

.wrapped {
  width: 10vh;
}

.wrap {
  display: none;
}

.fa-arrow-right {
  padding: 5px 6px;
}

.fa-arrow-left {
  padding: 5px 6px;
}

.asset-title button {
  border-radius: 50%;
  border: none;
  float: right;
  margin-right: 15px;
  z-index: 50;
  cursor: pointer;
}

.height {
  height: 30px;
}

.width {
  width: 50px;
}

.width p {
  font-size: 12px;
  padding-top: 1rem;
}

.notice {
  position: fixed;
  margin: 0;
  right: 0;
  top: 15vh;
  display: flex;
  height: fit-content;
  border-radius: 15px 0 0 15px;
  width: 15vh;
}

.fa-xmark {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}
.fa-plus {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.width button {
  background-color: var(--secondary-background-color);
  padding-right: 4px;
  cursor: pointer;
}

.noticeDescriptionUpdate {
  padding: 0;
  margin: 0;
  width: 0;
}

.toggleWidth {
  width: 50px;
}

.utility {
  position: fixed;
  right: 10px;
  bottom: 5px;
}

.utility li {
  list-style: none;
  padding: 5px;
}

.utility img {
  background-color: var(--primary-background-color);
  padding: 10px;
  border-radius: 50%;
  border: none;
}

.links {
  box-shadow: var(--primary-box-shadow);
}

.utility button {
  background-color: var(--primary-background-color);
  border: none;
  border-radius: 50%;
  padding: 0 5px;
  box-shadow: var(--primary-box-shadow);
}
